<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysDataSourceConfigMapper">

    <resultMap id="configBaseMap" type="com.ruoyi.system.domain.SysDataSourceConfig">
        <result column="config_id" property="configId"/>
        <result column="user_id" property="userId"/>
        <result column="type_id" property="type"/>
        <result column="schema_name" property="schemaName"/>
        <result column="url" property="url"/>
        <result column="username" property="username"/>
        <result column="disabled" property="disabled"/>
        <result column="password" property="password"/>
        <result column="params" property="params"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <update id="update" >
        update data_source_config set
            type_id=#{config.type},
            schema_name=#{config.schemaName},
            url=#{config.url},
            username=#{config.username},
            password=#{config.password},
            disabled=#{config.disabled},
            params=#{config.params},
            update_time=#{config.updateTime}
        where config_id=#{config.configId}
    </update>

    <insert id="save" useGeneratedKeys="true" keyProperty="configId">
        insert into data_source_config(
            <include refid="dataSourceConfig_filed"/>
        ) values(
            #{config.configId},#{config.userId},#{config.type},#{config.schemaName},
            #{config.url},#{config.username},#{config.password},#{config.disabled},#{config.params},
            #{config.createTime},#{config.updateTime}
        )
    </insert>

    <delete id="delete">
        delete from data_source_config
        where config_id=#{configId}
    </delete>

    <select id="getDataSourceConfig" resultMap="configBaseMap">
        select
            <include refid="dataSourceConfig_filed"></include>
        from data_source_config
        where  config_id=#{configId}
    </select>
    <select id="histories" resultMap="configBaseMap">
        select
            <include refid="dataSourceConfig_filed"/>
        from data_source_config
        where user_id=#{userId}
    </select>

    <sql id="dataSourceConfig_filed">
        config_id,
        user_id,
        type_id,
        schema_name,
        url,
        username,
        password,
        disabled,
        params,
        create_time,
        update_time
    </sql>

</mapper>