<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysOracleMapper">

    <resultMap id="baseMap" type="com.ruoyi.system.domain.vo.OracleScheMetaVo">
        <result column="OWNER" property="schemaName"/>
        <collection property="children" column="OWNER" select="getTables"/>
    </resultMap>

    <resultMap id="tableMap" type="com.ruoyi.system.domain.vo.OracleTableVo">
        <result column="TABLE_NAME" property="schemaName"/>
        <result column="TABLESPACE_NAME" property="tableSpace"/>
    </resultMap>

    <update id="createDataBase">
        create user ${config.schemaName} identified by #{config.password}
    </update>

    <select id="getDataBases" resultMap="baseMap">
        SELECT DISTINCT OWNER
        from all_tables
    </select>

    <select id="getTables" resultMap="tableMap">
        select
               TABLE_NAME,
               TABLESPACE_NAME
        from all_tables
        where OWNER=#{owner}
    </select>

</mapper>